MYSQL_HOST=your_mysql_host
MYSQL_USER=your_mysql_user
MYSQL_PASSWORD=your_mysql_password
MYSQL_DATABASE=sakila

MONGO_URI=mongodb://user:password@host/?readPreference=primary&ssl=false&authMechanism=DEFAULT&authSource=your_auth_source
MONGO_DATABASE=your_mongo_database
MONGO_COLLECTION=your_collection_name
